@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(
      27deg,
      rgba(255, 255, 255, 1) 57%,
      rgba(230, 175, 250, 1) 100%,
      rgba(226, 163, 249, 1) 100%
    ),
    url("/public/assets/right.jpg") right no-repeat,
    url("/public/assets/bottom.jpg") bottom no-repeat;
}
.header {
  position: relative;
  height: 10vh;
}
.reg-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  gap: 25px;
}
.reg-desc {
  font-weight: 400;
  display: flex;
  height: 40vh;
  align-items: center;
  position: relative;
  line-height: 2;
  flex-direction: column;
  justify-content: center;
}
.name {
  font-size: 4rem;
  font-family: "Roboto Condensed";
  color: #6a3084;
  font-weight: 900;
}

.name > span {
  color: #2a4072;
}
.reg-btn {
  padding: 1em;
  border-radius: 30px;
  background: #2a4072;
  color: white;
  font-family: "Roboto Condensed";
}
.reg-desc-1,
.reg-desc-3 {
  font-size: 1.5em;
  font-family: "Caveat", cursive;
  color: #a92327;
}
.reg-desc-2 {
  font-size: 3em;
  line-height: 1;
  color: #2a4072;
}

.reg-link {
  text-decoration: none;
}
.date {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  gap: 20px;
  color: #2a4072;
  font-family: "Roboto Condensed";
}
